*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62.5%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    --cinza:#6c7893;
    --branco:#fff;
    --azul:#2d8b9e;
    --display:"nome";
    --azul-escuro:#3b337e;
    --destaque:#EB5790;
    
    --azul-hover:#473da0;
    
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}